<nav>
    <a href="/">Home</a> | <a href="/habits">Habits</a> | <a href="/about">About</a>
  </nav>
  
  <h1>About This Project</h1>
  
  <p>
    This is a personal health tracker I'm building for my SE_19/SE_01 assessment.
  </p>
  <p>
    After a recent blood draw and biomarker test, I realized I need to make a few changes. 
    This is a simple tool to help me keep track of the habits I'm trying to improve, like 
    my hydration, iron, protein and vitamin D intake.
  </p>