<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css?v=11" />
  </head>
  <div style="text-align:center; margin-top:40px;">
    <img 
      src="https://www.seriouseats.com/thmb/-KA2hwMofR2okTRndfsKtapFG4Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2015__05__Anova-Steak-Guide-Sous-Vide-Photos15-beauty-159b7038c56a4e7685b57f478ca3e4c8.jpg" 
      alt="steak photo" 
      style="width:250px; border-radius:12px; margin-bottom:24px;"
    >
  </div>
  <script>if (location.search.includes('saved=1')) alert('Entry saved.');</script>  
  <body>
    <div class="main">
      <div class="card"><%- body %></div>
    </div>    
  </body>
</html>
